.wholewidth{
  width: 1490px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 30px; */
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
  margin-left: 20px;
  margin-top: -60px;
}

.card {
  width: calc(33.33% - 10px); /* 10px for spacing between columns */
  margin-bottom: 20px;
  background-color: #C8C8C8;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  height: 135px
}

.image-container {
  width: 250px;
  height: 110px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 1px;
  margin-bottom: 5px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* .details {
  flex: 1;
} */
.text-content {
  display: flex;
  flex-direction: column;
}
.boxContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details{
  margin-top: 1px ;
}
.hover-red {
  font-size: 13px;
  margin-top: 1px;
  color: black; /* Initial color */

  /* Define styles for when the element is hovered over */
  &:hover {
    color: red; /* Change the color to red when hovered over */
  }
}

